CREATE TABLE [dbo].[providenciacautelar](
	[IdInforme] [int] NOT NULL,
	[Folio] [varchar](46) NULL,
	[Tomo] [varchar](46) NULL,
	[Ano] [varchar](46) NULL,
	[Observaciones] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
