<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Intervalo de monitoreo de los registros de Fox -->
    <add key="DelayInterval" value="300000"/>
    <!-- Cadena de conexion para el DSN que apunta a la base Fox Pro -->
    <add key="OLEDBFoxPro" value="Provider=vfpoledb;DSN=TyGFox;"/>
  </appSettings>
</configuration>