iframe BODY {border: 1px solid #000}
BODY {padding: 0px; padding-right: 10px; margin: 0px; font: 12px Arial; background: url('images/bg_main.gif') repeat-x #FFF;}
H1 {color: #103565; font: bold 20px Arial; margin-top: 0px; margin-bottom: 15px}
H2 {color: #103565; font: bold 16px Arial; margin-top: 0px; margin-bottom: 15px}
H3 {color: #103565; font: bold 14px Arial; margin-top: 0px; margin-bottom: 15px}
H4 {color: #103565; font: bold 12px Arial; margin-top: 0px; margin-bottom: 15px}
.h2 {color: #103565; font: bold 16px Arial}
.h3 {color: #103565; font: 14px Arial}

.actionTitle{font-weight:bolder; font-size:13px;margin-bottom:5px;margin-left:15px}
.actionPanel{margin-bottom:10px;margin-left:15px;font-size:11px}
.switchHelpButton { background: #777; padding: 2px; margin-right:10px; }
.wordHighlight {font-weight:bold; color:red;}

.flowBox { margin: 15px 5px; color: #000; cursor:pointer; width: 105px; font-weight:bolder; font-size:12px; text-align: center; background-color: #FFFCCC; border: 2px solid #AAA; }
.flowBox:hover { color:#C30; text-decoration:underline; }
.flowBoxSelected { margin: 15px 5px; color: #000; width: 105px; font-weight:bolder; font-size:12px; text-align: center; background-color: #B8F971; border: 2px solid #AAA; }
.flowBoxDisabled { margin: 15px 5px; color: #999; width: 105px; font-weight:bolder; font-size:12px; text-align: center; background-color: #EEE; border: 2px solid #AAA; }
.flowImage { clear: both; margin: 5px 0px; }

.lastAction { padding:4px;}
.lastWarning { padding:4px; }
.gridErrorRow{background-color:#ffbebe}

#main .table tr:hover {background: #E4F6D9}
#main .nohover tr:hover {background: none}
/*#main > table > tbody > tr > td:first-child > div { overflow: scroll; } */

.purchaseLink, .purchaseLink A:link, .purchaseLink A:visited {color: red; background-color:#FFF; }
.purchaseLinkFree, .purchaseLinkFree A:link, .purchaseLinkFree A:visited {color: gray; background-color:#FFF; }


/*A {padding: 2px 0px}*/
A:link {color: #28428B}
A:visited {color: #28428B}
A:hover {color: #FFF; text-decoration: none; background: #507CB6}

/* Iteration plan pages links */
.spanLink {color: #28428B; text-decoration: underline; cursor: pointer}
.spanLink:hover {text-decoration: none; color: #FFF; background: #507CB6; cursor: pointer}

/* Top I bar styles */
#top {width: 100%; margin-bottom: 10px }
.topMenuLinks {padding-top: 5px; padding-bottom: 6px; width: 80%; height: 100%}

.breadcrumb .selectedItem {color: #103565; font-weight: bold}
.breadcrumb {font-size: 11px }


#menuTabs {display: inline}
#logout {padding-top: 1px; padding-bottom: 6px; width: 35%; font-size: 11px; text-align: right; color: #999}
#companytitle {font-weight: bold; font-size: 14px; color: #96BFDE;}

.projectSelectionLink {font-weight: bold; font-size: 14px; color: #AAA; text-decoration:none; background: url('images/bg_green_link.gif') repeat-x 0% 100%}
.projectSelectionLink:link, .projectSelectionLink:visited {color: #496A29}
.projectSelectionLink:hover {background:none; color: #000;}
.projectSelectionLink IMG.icon { border: none; margin: 0px; position: relative; top: 3px; }

.projectSelectionMenu {border: 1px solid #999; background-color: #FFF; display: none; position: absolute; z-index: 100000; margin-left: -1px; margin-top: 4px}
.projectSelectionMenu TD {font-weight: normal;border-bottom: 1px solid #DDD; padding: 5px}
.projectSelectionMenu TR {cursor:pointer; margin: 10px}
.projectSelectionMenu TR:hover {background: #E4F6D9}

/* Tabs and menu styles */
.tab {padding: 4px 0px; z-index: 1; background: #DDD}
.tab A {text-decoration: none; padding: 5px 15px}
.tab A:link, .tab A:visited  {color: #333}
.tab A:hover  {color: #FFF}
.tab SPAN A {padding: 0px 5px}

.dropDownTab {padding: 4px 0px; background: #FFF; z-index: 1}
.dropDownTab A IMG {margin-left: 15px}
.dropDownTab A {text-decoration: none; padding: 5px 15px}
.dropDownTab A:hover {background: none; color: #000;  text-decoration: underline}

.tabSep {width: 10px}
.tabLine {width: 100%; height: 1px}
.subMenu {width: 100%; padding: 6px 0px; background: #C1DAF0}
.subMenu A:link, .subMenu A:visited  {padding: 3px 22px; text-decoration: none; color: #333}
.subMenu A:hover  {padding: 3px 22px; text-decoration: none; color: #FFF}
.active {position: relative; top: 1px; font-weight: bold}
.subMenu A.activeSubTab {text-decoration: none;  border-bottom: 3px solid #487BA9; font-weight: bold}
.dragableListing {padding: 3px; border: 1px solid #666; background-color:#EEE;text-align:left}

/* Main area styles */
#main {margin-top: 5px}
#main TH, .generalTable TH {text-align: left; font-size: 11px; font-weight: normal; color: #666}
#main TH A:link {color: #666}
#main TH A:hover {color: #28428B; text-decoration: none; color: #FFF; background: #507CB6}
#main TH.centered {text-align: center}

.modalBackground {background-color:Gray; filter:alpha(opacity=80); opacity:0.8}
.modalPopup, .findPopup {background-color:#FFF; border-width:3px; border-style:solid; border-color:Gray; padding: 10px; width:650px}

.filterPopup {background-color:#FFF; border-width:3px; border-style:solid; border-color:Gray; padding: 10px; width:700px;}

.deletePopup {background-color:#FFF; border-width:3px; border-style:solid; border-color:Gray; padding: 10px; width:300px}

.commentPopup {background-color:#FFF; border-width:3px; border-style:solid; border-color:Gray; padding: 10px; width:400px}
.commentPopupTitle { font-size:14px;  } 

.progressPopup {background-color:#FFF; border-width:3px; border-style:solid; border-color:Gray; padding: 10px; width:200px;}
.progressTitle { font-size:14px; font-weight:bold;}
.progressDescription { font-size:10px; padding: 10px;}
.progressBar { width:126px; height:22px; background: url('images/bar.gif') }


.tabControlPanel {PADDING: 0px; display:block; MARGIN: 0px; FLOAT: left; WIDTH: 90%; 
    BORDER-BOTTOM: #46a337 1px solid; TEXT-ALIGN: left; }
.tabControlItem {BORDER: #46a337 1px solid; PADDING: 5px 7px; DISPLAY: block; BACKGROUND: #bce2b1; FLOAT: left; 
    MARGIN: 0px 2px; CURSOR: pointer; BORDER-BOTTOM-STYLE: none}
.tabControlSelectedItem {BORDER: #46a337 1px solid; PADDING: 5px 15px; display: block; FONT-WEIGHT: bold; FLOAT: left; MARGIN: 0px 2px;
     CURSOR: pointer; background: #FFF; POSITION: relative; TOP: 1px; BORDER-BOTTOM-STYLE: none}
.tabControlContent {clear: both; padding-top: 5px; background: #FFF;}

.TabButton {border: none; padding: 4px 7px; cursor: pointer; border-top: 1px solid #46A337; 
    border-right: 1px solid #46A337; border-left: 1px solid #46A337; position: relative; top: -4px; text-decoration: none}
.greenBg {background: #BCE2B1}
.activeGreenTab {background: #FFF; color: #000; position: relative; top: -3px}


.totalLine {border-top: 1px solid #999; margin-top: 5px; padding-top: 4px;}
/* Table styles */
.tableHead {width: 100%}
.tableHeadBar {width: 22px}
.tableHeadBar DIV {height: 26px}
.tableTitle {font: bold 16px Arial; color: #666}
.greenTitle {color: #126F03}
.grayTitle {font: bold 14px Arial; color: #666}
.grayTitleText {color: #444}
.viewTop {margin-top: 9px}

.gray {background: #CCC}
.green {background: #B6DDAB}
.blue {background: #C1DAF0}
.yellow {background: #FFD885}
.olive {background: #E6DFB6}

.blueText, .yellowText,.oliveText, .greenText  {color: #666}

.generalTable {width: 100%}
.generalTable TR {background:  url('images/bg_dashed.gif') repeat-x 0px 0px}
.generalTable .innerListRow TD {border-top: 1px solid #CCC}

.generalTable .innerListRow TD TD {border: none}
.generalTable .headRow {background: none; vertical-align: middle} 
.generalTable .footerRow TD {background: #E5E5E5; vertical-align: top; border-top: 1px solid #CCC}
.generalTable .footerRow TD TABLE TR TD {background: #E5E5E5; vertical-align: top; border-top: none}
.footerRow TD {font-size: 10px}
.generalTable TR TR {background: none}

.taskBoardTable {width: 100%; border-top: 2px solid #CCC}
.taskBoardTable TD, .taskBoardTable TH {border-right: 2px solid #CCC; border-bottom: 2px solid #CCC}
.taskBoardTable TD TD, .taskBoardTable TH TD {border-right: none; border-bottom: none}
.taskBoardItem {padding: 2px; background-color: #DDEBF8; border-bottom: solid 1px #507CB6}

DIV.table {border-bottom: 1px solid #D5D5D5;}

.entityNameReport {font-size: 12px; cursor:pointer;font-weight:bold; float:left; margin-left:3px; }
.expandSquare {cursor:pointer;background-color:#DDD; border:1px solid #666; padding-bottom:2px; padding-left:3px;padding-right:3px;float:left;font:12px/1 Courier;}

IMG.sort {margin: 0px 0px 0px 5px; border: none; position: relative; top: 2px}

#footer {background:  url('images/bg_footer.gif') repeat-x bottom; height: 7px; margin-top: 50px}
#copy {width: 100%; font-size: 10px; margin-top: 7px}

/* Form styles */
.required {font-weight: bold; white-space:nowrap}

SELECT {border-top:1px solid #555; border-left:1px solid #555; border-bottom: 1px solid #CCC; border-right: 1px solid #CCC; padding: 2px}
TEXTAREA {font: 12px Arial; border-top:1px solid #555; border-left:1px solid #555; border-bottom: 1px solid #CCC; border-right: 1px solid #CCC; padding: 2px}
.smallSelect {font-size: 10px; padding: 1px}
.input {border-top:1px solid #555; border-left:1px solid #555; border-bottom: 1px solid #CCC; border-right: 1px solid #CCC; padding: 2px}
.dictionaryTable input{border-top:1px solid #555; border-left:1px solid #555; border-bottom: 1px solid #CCC; border-right: 1px solid #CCC; padding: 2px}
.checkbox {position: relative; top: 3px}

.importantLabel {font: bold 12px Arial}
.veryImportantLabel {font: bold 14px Arial}

.focus {background: #FFFEBA;}
.blur {background: #FFF}
 
.button, .buttonSmall {font-weight: bold; border-top: 1px solid #DDD; border-left: 1px solid #DDD; 
    border-right: 1px solid #666; border-bottom: 1px solid #666; cursor: pointer; padding: 0px 8px;}
.button:hover, .buttonSmall:hover {background: #46A337; color: #FFF}
.buttonSmall {font-size: 11px}

.buttonSmallRed {border-left: 5px solid #DB0000}
.buttonSmallGreen {border-left: 5px solid #46A337}


.buttonSmallSecondary { border-top: 1px solid #DDD; border-left: 1px solid #DDD;
border-right: 1px solid #666; border-bottom: 1px solid #666;
margin-top: 10px; color: #000; background: #DEDEDE; cursor: pointer; font-size: 11px}

A.buttonSecondary {margin-left: 20px; font-weight: bold; color: #333}
A.buttonSecondary:hover {background: red; color: #FFF}

/* used in Search only */
.buttonGray {font-size: 12px; padding: 1px 0px; border-top: 1px solid #DDD; border-left: 1px solid #DDD; border-right: 1px solid #666; 
    border-bottom: 1px solid #666; cursor: pointer; margin-left: 5px; background: #DDD}

.smallFont {font-size: 10px}      
.big A, .generalTable TD.big {font-size: 12px}

IMG.icon {margin: 0px 5px 0px 0px; position: relative; top: 2px; }


.toolTip {position:absolute; z-index:10; overflow:hidden}

/* Dialog Box styles */
.dialogBoxTable {background: url('Images/bg_blue_table.gif') repeat-x; border: 1px solid #909090; height: 100%; width: 100%}
.dialogBoxTable TD {font-size: 11px}
.dialogBoxTitle {font-size: 12px; font-weight: bold; color: #333; padding: 6px 10px}
.dialogBoxContainerCell {text-align: left; height: 100%; vertical-align: top;}
.dialogBoxInner {padding: 10px; width: 100%}
.dialogBoxSubTitle {font-weight: bold; margin: 5px 0px; position: relative; top: 5px}

.customizeDialog {position: absolute; z-index: 1000}
.customizeDialog INPUT[type=checkbox] {position: relative; top: 2px}
.customizeDialog SELECT {font-size: 11px}
.gridActions {padding-left: 22px; margin-top: 4px; margin-bottom: 4px}

.dropDownPanel {font-weight: normal; border: 1px solid #909090; background-color: #FFF;
padding: 5px; display: none; position: absolute; z-index: 100000; width: 300px; 
margin-left: -1px; margin-top: 4px }
.dropDownPanel TD {line-height: 1.2}

/* Time Sheet styles */
.timeTotal {background: #E4F6D9}
.timeToday INPUT {border: 1px solid #FD4444}
.today {color: #FD4444; font-weight: bold}
.timeButton {border: 1px solid #28428B; font-size: 12px; padding: 0px; background-color:White; width:42px; }

/* Drag & Drop */
.dropZoneError {border: 4px solid Red; background-color: Red}
.dropZoneNormal {border: 2px solid #FFF; padding: 0px}
.dropZoneOver {background: #FFFF51; border: 2px solid orange; padding: 0px}
.dropZoneHighlight {background: #FFFFC1; border: 2px solid orange; padding: 0px}
.draggableItem {cursor: pointer}

.rowDone TD {background: #EEE url('images/bg_dashed.gif') repeat-x 0px 0px; color: #666}
.rowDone TD A {color: #666}
.rowDrag TD {background: #E4F6D9 repeat-x 0px 0px}
.rowGroup TD {background: #F0F0F0; border-bottom: 2px solid #F0F0F0; border-top: 2px solid #F0F0F0; font-size:14px; font-weight:bold;}

.rowDone TD TD, .rowDone TD TD TD {background: none}
.rowSelectedParent TD {background: #fffccc}
.rowSelected TD {background: #E4F6D9}
.rowCheckSelected TD {background: #FFFCCC url('images/bg_dashed.gif') repeat-x 0px 0px}
.dialogBoxContainerCell .rowCheckSelected TD, .tableHead .rowCheckSelected TD {background: none}
.importantRow {padding: 10px; background: #BCE2B1; border-bottom: 1px solid #28428B; border-top: 1px solid #28428B}
.specialRow {border: 1px solid #666; background: #EEE; padding: 10px; margin-top: 5px}
.secondaryInfo {color: #777}

/* 
    Effort Styles 
*/
.assigned {color: #28428B}
.completed {color: #32A500}
.todo {color: #CC8B00}
.bgAssigned {background: #28428B}
.bgCompleted {background: #32A500}
.bgTodo {background: #CC8B00}

.subAdd {border-bottom: 1px solid #46A337; border-right: 1px solid #46A337; border-left: 1px solid #46A337}
.subAddContent, .subAddTitle  {padding: 10px}
.additionalInfoTable TD {padding-top: 4px}

.expandedList {margin-left: 100px}
.expandedListMediumMargin {margin-left: 55px}
.expandedListSmallMargin {margin-left: 30px}
.moreLink {text-decoration: underline; cursor: pointer; color: #000}
A.moreLink {color: #000}

.unassignedLink {text-decoration: underline; cursor: pointer;color:#C30}
.assignedLink {text-decoration: underline; cursor: pointer;color:#28428B}

.unassignedSpan {color:#C30}
.assignedSpan {color:#28428B}

.morePanel {position: absolute; z-index: 100000; background: #C1DAF0; white-space: nowrap; border: 1px solid #507CB6; line-height: 1.8}

.chSt {display: inline}

/* Help styles */
.helpLeftPanel A {padding: 0px}
.helpLeftPanel A:hover {background: #FFF; color: #000}
.helpLeftPanel A:hover IMG {background: #FFF; filter:alpha(opacity=40); -moz-opacity:.40; opacity:.40}
.inactiveHelpImage { filter:alpha(opacity=20); -moz-opacity:.20; opacity:.20}
.help {width: 70%; padding: 10px; background: #DBEBF9; margin-top: 10px; margin-bottom: 10px;
    border-bottom: 1px solid #28428B; border-top: 1px solid #28428B; display: none}
A.infoLink {font-size: 11px; color: #666; margin-left: 22px; margin-top: 5px}
.addArrow {position: relative; top: -3px}


.dailyProgressTable TD {border: 1px solid #DDD}
.dailyProgressTable TD {padding: 2px}
.dailyProgressTable TD, .dailyProgressHeader TD {font-size: 10px}
.dailyProgressTable TD TD {border: none; font-size: 10px; padding: 0px}
.dailyProgressItem {text-align: center}

.progressStatusRed {background:#FD4444}
.progressStatusYellow, .highlightText {background:#FFFF84}
.progressStatusGreen {background:#BCE2B1}

/* The new dashboard css styles */
 
 .catalogEditZone {border:3px solid #CCC; padding:5px}
 .catalogZoneOver {border:3px solid blue; padding:5px}
 .catalogEditFormHeader{background-color: #83ABD1; border: 3px dashed #B6D0E6; width:100%; height:100%; cursor:move}
 .catalogEditFormDeletePart {padding: 5px; text-align: right}
 .catalogEditFormTitlePart{font-weight:bold; padding:5px}
 .catalogItemDragging{-moz-opacity:0.6; filter: alpha(opacity=60)}
 .catalogEditForm{padding: 5px}
 .catalogItemTitle {margin: 5px; width: 195px; padding: 3px; white-space: nowrap; background: #C1DAF0; cursor: move; color: #28428B}
 .catalogItemImage{cursor: move; margin: 5px}
 .catalogResetCatalogSettings, .catalogItemDescription {margin:5px}
 
/* ---------------------------- */

.passwordStrength {padding: 3px; background: #FFA500}

.noData {padding: 10px; background: #FAF5AC; margin: 15px 0px; border-bottom: 1px solid #28428B; border-top: 1px solid #28428B}
.block {display: block}

.topPriority {color: #ED1B23}
.topSeverity {color: #CA0007}
.lowSeverity {color: #999}

/* used in Workflow only */
.disabledLink {color: #999}
.disabledLink:hover {background:none; color: #999}

.disableSelection {-moz-user-select:none}

.sep {margin: 0px 5px; color: #999}

.loadBar {padding: 2px 5px; background-color: #FFB10A; font: bold 14px Arial; color: #FFF; margin-left: 5px; position: absolute; top: 0; left:0}

 

.largeWhiteLabel {color: #FFF; font: bold 18px Arial}
.largeLabel {font: bold 16px Arial}
.testPlanRunResult {margin: 0px 5px; padding: 4px; padding-top: 6px}
            
.wizardSideBar {line-height: 1.8;}
.wizardButtons {background: #EEE; border-top: 1px solid #999}
.wizardStepCurrent {font-weight: bold;}

   
   
.wizardContent {padding: 10px 10px; margin: 0px 25px; background: #EEE; border: 1px solid #999;}
.loginContent {border: 2px solid #999;}
.editDetailsContent{ padding: 10px 10px; margin: 0px 25px; border: 1px solid #999; background-color: #FFFFFF;}

/* Calendar styles */
.calendarMonth {font-size: 12px; border: none; background: #C1DAF0}
.calendarDayHeader {font-size: 12px; border: none; background: #C1DAF0; font-weight: bold}
.calendarDay {font-size: 12px; background: #FFF; padding: 3px 5px; border-right: 1px solid #EEE; border-bottom: 1px solid #EEE}
.calendarDay:hover, .calendarOffMonth:hover, .calendarWeekend:hover  {text-decoration: underline; background: #FFFF99}
.calendarToday {font-size: 12px; border: 1px solid #DDD; background: #FFFF99}
.calendarSpecial {font-size: 12px; border: none; background: #FFF}
.calendarOffMonth {font-size: 12px; border: none; background: #EEE}
.calendarWeekend {font-size: 12px; border: none; background: #CCC}
.calendarSelectedDate {font-size: 12px; border: 1px solid #DDD; background: #99FF65}
.calendarClearDate {font-size: 12px;  background: #C1DAF0; font-weight: bold; color: #28428B}

.key {border: 1px solid #000; padding: 0px 5px; background: #FFF; color: #000; font-size: 9px}
.specialArea {padding: 10px; border: 1px solid #CCC; background: #F0F0F0}

.assignUserList TD {font-size: 11px}

/* used for impediments */
A.numberLink:link, A.numberLink:visited {text-decoration:none}
A.numberLink span {text-decoration:underline}

.redWarning {background-color: Red; color: White; padding: 2px; line-height: 2}
.greenWarning {background-color: Green; color: White; padding: 2px; line-height: 2}

.rank0 {font-size: 10px; text-decoration: underline; cursor: pointer}
.rank1 {font-size: 11px; text-decoration: underline; cursor: pointer}
.rank2 {font-size: 12px; text-decoration: underline; cursor: pointer}
.rank3 {font-size: 13px; text-decoration: underline; cursor: pointer}
.rank4 {font-size: 14px; text-decoration: underline; cursor: pointer}
.rank5 {font-size: 15px; text-decoration: underline; cursor: pointer}
.rank6 {font-size: 16px; text-decoration: underline; cursor: pointer}
.rank7 {font-size: 17px; text-decoration: underline; cursor: pointer}
.rank8 {font-size: 18px; text-decoration: underline; cursor: pointer}
.rank9 {font-size: 20px; text-decoration: underline; cursor: pointer}
.rank10 {font-size: 22px; text-decoration: underline; cursor: pointer }

.tagCloudBundle {font-weight: bold; cursor:pointer; background: #333; color: #DDD; margin: 0px 3px}

hidden {display:none}
.reportMain {margin: 20px}

/* Rank styles */
.rankBar {border: 1px solid #999; height: 7px; font-size: 1px; float: left}
.rankFilledBar {background: #B8E571; height: 7px; font-size: 1px; float: left}
.rankNumber {font: 9px Verdana; letter-spacing: -1; position: relative; top: -1px; margin-left: 5px}

.generalTable TR .rankTable TD {background: none}

/* Inbox/messages styles */
.messageFolderSelected {background: #C1DAF0; padding: 5px 0px}
.messageFolder {padding: 5px 0px}
.rowErrorMessage TD {background: #FFB3B3 url('images/bg_dashed.gif') repeat-x 0px 0px; }

/* Subversion Diff styles */
.lineAdded {background: #BCE2B1}
.lineDeleted {background: #FD7777}
.lineUpdated {background: #FFEC84}

.inlineEditIcon  {cursor: pointer;}

#print {padding: 10pt 10pt}
.printTitle {border-bottom: 1px solid #666}
.printMainTitle {border-bottom: 2px solid #666; background: #DDD}
.printMainTitle H2 {margin: 0}
.printContentBlock {margin-left: 20pt}
#print H3 {color: #103565; font: bold 14px Arial; margin: 10px 0px 5px 0px; padding: 0px}
#print TH {text-align: left; border-bottom: 1px solid #999}

.priority1 {background: #B6DDAB}
.priority2 {background: #D2FFC5}
.priority3 {background: #E3FFDB}
.priority4 {background: #F5FFF2}
.priority5 {background: #FFF}
.priority6 {background: #FFF}
.priority7 {background: #FFF}

.entityBox {border: 1px solid #DDD; border-left: 3px solid #507CB6; font: 9px/1.1 Verdana; padding: 3px; height: 28px; float: left; width: 70px; overflow: hidden; margin: 1px; cursor: pointer}
.entityBox:hover {border: 1px solid #000;border-left: 3px solid #000;cursor:move}
.entityBrowserStory {border-left: 3px solid #507CB6}
.entityBrowserBug {border-left: 3px solid #CC060D}
.entityBrowserFeature {border-left: 3px solid #1C8300}
.entityBrowserRequest {border-left: 3px solid #FFC600}
.entityBrowserRelease {border-left: 3px solid #888888}
.entityBrowserIteration{border-left: 3px solid #66AFF0}
.entityBrowserTestCase {border-left: 3px solid #DD7709}
.entityBrowserTestPlanRun {border-left: 3px solid #A7743E}

.entityBrowserFilter{border: 1px solid #909090;background-color:#C1DAF0;padding:8px}
.filterSwitcher{font-size:12px;}
.tagBrowserHighlighted{background: #FFFDCE; border: 3px solid orange;padding: 1px;}
.tagItem, .tagItemHighlighted {width:120px;height:50px;margin:0px 0px 10px 10px;float:left;overflow:hidden; font-size: 11px}
.tagItemHighlighted{background: #FFFDCE; border: 1px solid orange;}
.tagItem {background-color:#FFF;border:1px solid #CCC;}
.tagItem IMG,.tagItemHighlighted IMG{margin:3px;float:left;cursor:pointer}

.done {background: #999}

.chart {position: relative; z-index: 2}

/* Release Plan styles */

#timeline TD {border-bottom: 1px solid #DDD; border-left: 1px solid #DDD}
#releases TD {border-bottom: 1px solid #DDD}
.topRow {border-top: 1px solid #DDD}
.weeks TD {font: bold 10px Verdana; text-align: center; border-top: 1px solid #DDD}

.release {border: 1px solid #666; border-right: 2px solid #000; font-size: 10px; padding: 2px; background:#66CCFF; height: 38px;float: left;overflow:hidden; white-space: nowrap; filter:alpha(opacity=80); opacity:0.8}
.releaseHighlighted {border: 1px solid orange; border-right: 2px solid #000; font-size: 10px; padding: 2px; background:#FFFDCE; height: 38px;float: left;overflow:hidden; white-space: nowrap; filter:alpha(opacity=80); opacity:0.8}
.releaseForecast {height: 38px; float: left; border: 1px dashed #6699ff; border-left: none; padding: 3px;}
.releaseForecastRed {height: 38px; float: left; border: 1px dashed red; border-left: none; padding: 3px;}
.entityBrowser {border: 3px solid #999; padding: 1px; float:left; position:absolute; background: #FFFFFF;}
.entityBrowserHightlighted {border: 3px solid orange; padding: 1px; float:left; position:absolute; background: #FFFDCE;}
.story {border: 1px solid #999; font-size: 9px; padding: 3px; background:#CCFFCC; height: 30px;float: left; width: 70px; overflow: hidden; margin: 1px}
.backlogBrowser {margin-right: 10px; padding:10px; width: 270px; float: left; background: #EEE; border: 3px solid #CCC}
.backlogBrowserHighlighted {margin-right: 10px; padding:10px; width: 270px; float: left; background: #FFFDCE; border: 3px solid orange}
.tag {border: 1px solid #666; border-right: 2px solid #000; font-size: 10px; padding: 2px; background:#66CCFF; height: 38px; width: 200px; white-space: nowrap; filter:alpha(opacity=80); opacity:0.8}
.effortLabel{background: #DDD;padding:1px 2px;margin-right:3px}

@media print
{
    H1 {margin: 0px; padding: 0px}
    A {text-decoration: none}
    BODY, #main, DIV.table {background: #FFF}
    
    #printBlockManager, #top, #topTitle, #menuTabs, #copy, #footer  {display: none}       
    #print .generalTable TD {border-bottom: 1px solid #BBB; padding: 0px; margin:0px}
    #print .generalTable TD TD, #print .generalTable TD TD TD {border-bottom: none}
    
    .tableTitle {font: 20px Arial; color: #000; }
    .tableHead {margin-top: 20pt}
    
    .importantLabel {font-size: 12px}
    .reportMargin {margin-left: 0px}
    .reportMain {margin: 0px}
}

.xcheckbox-wrap {
   line-height: 18px;
   padding-top:2px;
}
.xcheckbox-wrap a {
   display:block;
   width:16px;
   height:16px;
   float:left;
   
}

.x-toolbar .xcheckbox-wrap {
   padding: 0 0 2px 0;
}

.xcheckbox-on, .xcheckbox-on:hover
{
   background:transparent url(ext/resources/images/default/menu/checked.gif) no-repeat 0 0;
}
.xcheckbox-off, .xcheckbox-off:hover
{
   background:transparent url(ext/resources/images/default/menu/unchecked.gif) no-repeat 0 0;
}


.xcheckbox-disabled {
   opacity: 0.5;
   -moz-opacity: 0.5;
   filter: alpha(opacity=50);
   cursor:default;
}
 
.rowDone {background: #EEE url('images/bg_dashed.gif') repeat-x 0px 0px; color: #666}