<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="tiempoygestionConnectionString" connectionString="Data Source=CARLOS-SSD;Initial Catalog=tiempoygestion;Persist Security Info=True;User ID=sa;Password=r3d3f1n3" providerName="System.Data.SqlClient"/>
    <add name ="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name ="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
	</connectionStrings>
	<appSettings>
		<add key="PATH" value="/Res/"/>
		<!-- Habilita desabilita el modo logueo en el Event View -->
		<add key="HabilitarEventViewLog" value="false"/>
		<!-- Control Acceso -->
		<add key="ExpiracionTicket" value="60"/>
    <add key ="FolderPath" value ="/res/defuncion/"/>
  </appSettings>
	<system.web>
		<!-- 
            Establezca debug="true" en la compilación para insertar símbolos 
            de depuración en la página compilada. Dado que este 
            proceso afecta al rendimiento, debe establecer este valor como true 
            durante la depuración.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
        <add assembly="Microsoft.Office.Interop.Excel, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"/>
      </assemblies>
    </compilation>
		<!--
            La sección <authentication> habilita la configuración
            del modo de autenticación de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
		<authentication mode="Forms">
			<forms name="IntraAuthCookie" loginUrl="Login.aspx" protection="Encryption" timeout="20" path="/">
			</forms>
		</authentication>
		<authorization>
			<deny users="?"/>
			<!-- Deny unknown users -->
			<allow users="*"/>
			<!-- Allow all users -->
			<!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
		</authorization>
		<customErrors mode="RemoteOnly"/>
		<!--
            La sección <customErrors> habilita la configuración de 
            las acciones que se deben realizar si un error no controlado tiene lugar
            durante la ejecución de una solicitud. Específicamente, 
            permite a los desarrolladores configurar páginas de error html 
            que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="es-AR" uiCulture="es-AR"/>
		<xhtmlConformance mode="Transitional"/>
		<!-- "LEGACY" DESACTIVA  desactiva la representación de XHTML-->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<location path="prueba">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="img">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="CSS">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="res">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<!-- 
        La sección system.webServer es necesaria para ejecutar ASPN.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la versión anterior de IIS.
    -->
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="padronAspNetAjaxBehavior">
					<enableWebScript/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
		<services>
			<service name="padron">
				<endpoint address="" behaviorConfiguration="padronAspNetAjaxBehavior" binding="webHttpBinding" contract="padron"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>
